{% extends "base.html" %}

{% block content %}
    <form method="POST">
        <input type="text" name="titulo" placeholder="Título da tarefa" required>
        <input type="date" name="data_conclusao">
        <button type="submit">Adicionar</button>
    </form>
    <ul>
        {% for tarefa in tarefas %}
            <li>
                {{ tarefa.titulo }} - {{ tarefa.data_conclusao }}
                <a href="{{ url_for('delete', idtarefa=tarefa.id) }}">Apagar</a>
                <a href="{{ url_for('editar', idtarefa=tarefa.id) }}">Editar</a>
            </li>
        {% endfor %}
    </ul>    
{% endblock %}
